@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
*{
    margin: 0;
    font-family: 'Sevillana', cursive;
}
.main{
    width: 100%;
    height: 550px;
    background-color: darkcyan;
}
#text{
    background-color:aqua;
    width: 50%;
    height: 500px;
    padding-top: 0px;
}
#img{
    background-color:grey;
    width: 50%;
    height: 500px;
}
.main #text, #img{
    float:left;
}
#img img{
    width: 50%;
    height:250px;
    background-position: center;
    background-size: cover;
    padding-left: 110px;
}
#text p{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
}